<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CV</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <img src = "/edgarMagdalenoCV.png" width = "70%">
              </div>
              <center><a href = "/edgarmagdaleno.pdf">PDF Format</a></center>
            </div>
        </div>
    </section>
